.main-body {
	padding: 3rem;
}

.main-header {
	text-align: center;
	color: #333333;
	font-weight: 600;
	margin-bottom: 2rem;
}

.main-table {
	width: 80%;
	margin: 0 auto;
}

.home-main {
	padding-top: 3rem;
	text-align: center;
}

td {
	white-space: pre;
}

@media screen and (max-width: 425px) {
	.main-body {
		padding: 1.5rem;
	}

	.main-table {
		width: 100%;
	}
}